<template>
  <div>
    <v-breadcrumbs :items="items">
      <template v-slot:divider>
        <v-icon size="14">mdi-chevron-right</v-icon>
      </template>
      <template v-slot:item="{ item }">
        <v-breadcrumbs-item :disabled="item.disabled">
          <span :style="`color: ${item.color}`">
            {{ item.text.toUpperCase() }}
          </span>
        </v-breadcrumbs-item>
      </template>
    </v-breadcrumbs>
  </div>
</template>

<script>
export default {
  name: 'Breadcrumbs',
  data: () => ({
      items: [
        {
          text: 'Home',
          disabled: true,
          href: 'breadcrumbs_dashboard',
          color: 'grey',
        },
        {
          text: 'Products',
          disabled: true,
          href: 'breadcrumbs_link_1',
          color: 'grey',
        },
        {
          text: 'Roasted Bean',
          disabled: false,
          href: 'breadcrumbs_link_2',
          color: 'red',
        }
      ]
    })
}
</script>
