<template>
<div>
  
  <v-expansion-panels>
    <v-expansion-panel>
      <v-expansion-panel-header>
        Urutkan Berdasarkan
      </v-expansion-panel-header>
      <v-expansion-panel-content>
        <div>
         <v-card
          flat
          color="transparent"
        >
          <p>Harga</p>

          <v-card-text>
            <v-row>
              <v-col cols="12" class="px-4">
                <v-range-slider
                  v-model="range"
                  :max="max"
                  :min="min"
                  hide-details
                  class="align-center"
                >
                </v-range-slider>
              </v-col>
              <v-col cols="6">
                <template>
                  <v-text-field
                    :value="range[0]"
                    class="mt-0 pt-0"
                    hide-details
                    single-line
                    type="number"
                    style="width: 100%"
                    @change="$set(range, 0, $event)"
                  ></v-text-field>
                </template>
              </v-col>
              <v-col cols="6">
                <template>
                  <v-text-field
                    :value="range[1]"
                    class="mt-0 pt-0"
                    hide-details
                    single-line
                    type="number"
                    style="width: 100%"
                    @change="$set(range, 1, $event)"
                  ></v-text-field>
                </template> 
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
        </div>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>

  <v-expansion-panels>
    <v-expansion-panel>
      <v-expansion-panel-header>
        Origin
      </v-expansion-panel-header>
      <v-expansion-panel-content>
         <v-checkbox
          v-model="selected"
          label="Aceh"
          value="Aceh"
        ></v-checkbox>
        <v-checkbox
          v-model="selected"
          label="Semarang"
          value="Semarang"
        ></v-checkbox>
        <v-checkbox
          v-model="selected"
          label="Bandung"
          value="Bandung"
        ></v-checkbox>
        <v-checkbox
          v-model="selected"
          label="Jawa"
          value="Jawa"
        ></v-checkbox>
        <v-checkbox
          v-model="selected"
          label="Amerika Selatan"
          value="Amerika Selatan"
        ></v-checkbox>
        <v-checkbox
          v-model="selected"
          label="Lain-lain"
          value="Lain-lain"
        ></v-checkbox>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>

  <v-expansion-panels>
    <v-expansion-panel>
      <v-expansion-panel-header>
        Species
      </v-expansion-panel-header>
      <v-expansion-panel-content>
         
        <v-checkbox
          v-model="selected"
          label="Arabika"
          value="Arabika"
        ></v-checkbox>
        <v-checkbox
          v-model="selected"
          label="Robusta"
          value="Robusta"
        ></v-checkbox>
        <v-checkbox
          v-model="selected"
          label="Blend"
          value="Blend"
        ></v-checkbox>

      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>

  <v-expansion-panels>
    <v-expansion-panel>
      <v-expansion-panel-header>
        Roast Level
      </v-expansion-panel-header>
      <v-expansion-panel-content>
         
        <v-checkbox
          v-model="selected"
          label="Light Roast"
          value="Light Roast"
        ></v-checkbox>
        <v-checkbox
          v-model="selected"
          label="Medium Roast"
          value="Medium Roast"
        ></v-checkbox>
        <v-checkbox
          v-model="selected"
          label="Dark Roast"
          value="Dark Roast"
        ></v-checkbox>
        <v-checkbox
          v-model="selected"
          label="Light to Medium Roast"
          value="Light to Medium Roast"
        ></v-checkbox>

      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
  
  <v-expansion-panels>
    <v-expansion-panel>
      <v-expansion-panel-header>
        Tasted
      </v-expansion-panel-header>
      <v-expansion-panel-content>
         
        <v-checkbox
          v-model="selected"
          label="Sweet"
          value="Sweet"
        ></v-checkbox>
        <v-checkbox
          v-model="selected"
          label="Floral"
          value="Floral"
        ></v-checkbox>
        <v-checkbox
          v-model="selected"
          label="Fruity"
          value="Fruity"
        ></v-checkbox>
        <v-checkbox
          v-model="selected"
          label="Nutty"
          value="Nutty"
        ></v-checkbox>
        <v-checkbox
          v-model="selected"
          label="Cocoa"
          value="Cocoa"
        ></v-checkbox>
        <v-checkbox
          v-model="selected"
          label="Spices"
          value="Spices"
        ></v-checkbox>

      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>

  
  <v-expansion-panels>
    <v-expansion-panel>
      <v-expansion-panel-header>
        Processing
      </v-expansion-panel-header>
      <v-expansion-panel-content>
         
        <v-checkbox
          v-model="selected"
          label="Honey White"
          value="Honey White"
        ></v-checkbox>
        <v-checkbox
          v-model="selected"
          label="Natural"
          value="Natural"
        ></v-checkbox>
        <v-checkbox
          v-model="selected"
          label="Honey Gold"
          value="Honey Gold"
        ></v-checkbox>
        <v-checkbox
          v-model="selected"
          label="Honey Yellow"
          value="Honey Yellow"
        ></v-checkbox>

      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
  
</div>
</template>

<script>
export default {
  name: 'Filters',
  data () {
      return {
        min: 0,
        max: 10000000000,
        range: [0, 10000000000],
        selected:[],
        checkbox1: false,
        checkbox2: false,
      }
    },
}
</script>

<style>
.v-expansion-panel:before {
  box-shadow: none !important;
}
.v-expansion-panel-header {
  background-color:#F5F5F5BF;
}
</style>
