<template>
<v-row>
  <v-spacer />
  <v-col cols="6" align="right">
    <v-app-bar
      color="white accent-4"
      dense
      flat
      class="mt-6"
    >
      <v-row>
        <v-text-field
          label="Email"
          placeholder="Enter your email"
          solo
        ></v-text-field>
        <v-btn height="48px" style="backgroundColor: red; color: white" >
          <v-icon >mdi-magnify</v-icon>
        </v-btn>

        <v-btn icon>
          <v-icon>mdi-cards-heart-outline</v-icon>
        </v-btn>
        <v-btn icon>
          <v-icon>mdi-shopping-outline</v-icon>
        </v-btn>
        <v-menu
        left
        bottom
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            icon
            v-bind="attrs"
            v-on="on"
          >
            <v-icon>mdi-account-outline</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item href="/">
            logout
          </v-list-item>
        </v-list>
      </v-menu>
      </v-row>
    </v-app-bar>
  </v-col>
  <v-col cols="12">
    <v-card class="d-flex mb-6" color="grey lighten-2" flat tile>
      <v-card width="200px" class="pa-2 text-center" style="background-color:red; color:white" outlined tile>
        BELANJA
      </v-card>
    </v-card>
  </v-col>
    
</v-row>
</template>

<script>

export default ({
 name: 'Header',
})
</script>
