<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <v-card style="margin-top:100px">
        <v-card-title class="headline">
          Masuk
        </v-card-title>
        <v-card-text>
          <v-text-field
            v-model="email"
            label="Email"
            placeholder="Enter your email"
            :rules="[rules.required]"
            solo
          ></v-text-field>
          <v-text-field
            v-model="password"
            :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
            :rules="[rules.required]"
            :type="show1 ? 'text' : 'password'"
            label="Password"
            @click:append="show1 = !show1"
            solo
          ></v-text-field>
          <p class="text-right"><a href=""  style="text-decoration: none; color:red">lupa password</a></p>
          <br>
          <v-btn block color="error" @click="submit()">
            Masuk
          </v-btn>
          <br>
          <hr />
          <br>
          <v-row justify="center">
            <p>Belum punya akun? <a href="/register"  style="text-decoration: none; color:red">daftar sekarang</a></p>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'Login',
  data () {
    return {
      email:'',
      password: '',
      show1: false,
      rules: {
        required: value => !!value || 'Required.',
        min: v => v.length >= 8 || 'Min 8 characters',
        emailMatch: () => (`The email and password you entered don't match`),
      },
    }
  },
  methods:{
    async submit() {
      try{
        await fetch(
          'https://techtest.folkatech.com/api/login',
          {
            method:'POST',
            headers: {
              'Host': '<calculated when request is sent>',
              'Accept': '*/*',
              'User-Agent': 'PostmanRuntime/7.29.2',
              'Accept-Encoding': 'gzip, deflate, br',
              'Connection': 'keep-alive',
              'Content-Type': 'application/json',
              'Accept': 'application/json',
            },
            credentials:'include',
            body: {
              email: this.email,
              password: this.password,
            }
          }
        ).then(res => res.json())
      }catch(e){
        console.log(e)
      }
    }
  },

}
</script>
