<template>
  <div>
    <v-row align="center">
      <v-spacer></v-spacer>
      <SortProduct />
    </v-row>
    <v-row>
        <ProductCard
          v-for="product in products"
          :key="product.title"
          :product="product"  
        />
    </v-row>
  </div>
</template>

<script>
  export default {
    async fetch() {
      this.products = await fetch(
        'https://techtest.folkatech.com/api/product?keyword=&price=10000,250000&page=1&limit=10&order=product_name,ASC',
        {
          headers: {
            'Accept': '*/*',
            'User-Agent': 'PostmanRuntime/7.29.2',
            'Accept-Encoding': 'gzip, deflate, br',
            'Connection': 'keep-alive',
            'Content-Type': 'text/plain', 
            'Authorization': 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpZCI6MSwibmFtZSI6IlZpbnphIiwiZW1haWwiOiJhd2F3YXN3QGdtYWlsLmNvbSIsInBob25lIjoiMDg5NTM5MjA1NDk4MyIsImNyZWF0ZWRfYXQiOiIyMDIxLTEyLTIwVDE2OjA0OjQ2LjAwMDAwMFoiLCJ1cGRhdGVkX2F0IjoiMjAyMS0xMi0yMFQxNjowNzo1Mi4wMDAwMDBaIn0.4DdjzdG0LcmY7NVzwh-aqhUGzmof7yKu_2yCSvSJ_Qw', 
          },
        }
      ).then(res => res.json())
      this.products = this.products.data.list
    },
    name: 'ProductList',
    data () {
      return {
        products: []
      }
    },
  }
</script>

<style>
.v-expansion-panel:before {
  box-shadow: none !important;
}
.v-expansion-panel-header {
  background-color:#F5F5F5BF;
}
</style>
