<template>
  <v-col cols="4">
    <v-card
    class="mx-auto"
    max-width="374"
    height="450"
    >
      <v-img
        height="250"
        :src="product.images[0].image_url"
      ></v-img>

      <v-card-text class="text-center">
        
        <div class="text-subtitle-1" style="font-weight:bold">
          {{ product.name.substr(0, 25) }}
        </div>
        <div class="text-subtitle-1 mb-4">
          {{ product.short_description.substr(0, 25) }}
        </div>
        <v-row
          align="center"
          class="mx-0"
          justify="center"
        >
          <v-rating
            :value="4.5"
            color="amber"
            dense
            half-increments
            readonly
            size="14"
          ></v-rating>

          <div class="grey--text ms-4">
            (413)
          </div>
        </v-row>

      </v-card-text>

      <v-divider class="mx-4"></v-divider>

      <v-card-title 
        class="justify-center" 
        style="color:red">
          Rp.{{product.price.toLocaleString(undefined, { 
          minimumFractionDigits: 2, 
          maximumFractionDigits: 2 
        })}}
      </v-card-title>

      
    </v-card>
  </v-col>
</template>

<script>

export default ({
  name: 'ProductList',
  data () {
    return {
      products: []
    }
  },
  props: {
    product: {
      type: Object,
      default:() => {}
    }
  },
})
</script>
