<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <v-card style="margin-top:100px">
        <v-stepper v-model="e1">
          <v-stepper-items>

            <v-stepper-content step="1">
              <v-card-title class="headline" style="color: grey">
                Daftar Sekarang
              </v-card-title>
              <v-card-text>
                <v-form v-model="step1">
                  <v-text-field
                    v-model="name"
                    label="Nama Depan"
                    placeholder="Nama Depan"
                    :rules="[rules.required]"
                    solo
                  ></v-text-field>
                  <v-text-field
                    label="Nama Belakang"
                    placeholder="Nama Belakang"
                    :rules="[rules.required]"
                    solo
                  ></v-text-field>
                  <v-text-field
                    v-model="email"
                    label="Email"
                    placeholder="Enter your email"
                    :rules="[rules.required]"
                    solo
                  ></v-text-field>
                </v-form>
                <br>
                <v-btn block color="error" :disabled="!step1" @click="[e1 = 2]">
                  Selanjutnya
                </v-btn>
                <br>
                <hr />
                <br>
                <v-row justify="center">
                  <p>Sudah punya akun? <a href="/"  style="text-decoration: none; color:red">Masuk</a></p>
                </v-row>
              </v-card-text>
            </v-stepper-content>

            <v-stepper-content step="2">
              <v-form v-model="step2">
                <v-card-title class="headline">
                  <i class="fas fa-band-aid"></i>
                  <a @click="e1=1" style="color:grey"> <v-icon>mdi-arrow-left</v-icon> Kembali</a> 
                </v-card-title>
                <v-card-text>
                  <v-text-field
                    v-model="phone"
                    label="Nomor Telepon"
                    placeholder="Nomor Telepon"
                    :rules="[rules.required]"
                    solo
                    type="number"
                    class="phonenumber"
                  ></v-text-field>
                  <v-text-field
                    v-model="password"
                    :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="[rules.required]"
                    :type="show1 ? 'text' : 'password'"
                    label="Password"
                    @click:append="show1 = !show1"
                    solo
                  ></v-text-field>
                  <v-text-field
                    v-model="confirmPassword"
                    :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="confirmPasswordRules.concat(passwordConfirmationRule)"
                    :type="show1 ? 'text' : 'password'"
                    label="Konfirmasi Password"
                    @click:append="show1 = !show1"
                    solo
                  ></v-text-field>
                  <br>
                  <v-btn block :disabled="!step2" color="error" @click="submit()">
                    Daftar Sekarang
                  </v-btn>
                  <br>
                  <hr />
                  <br>
                  <v-row justify="center">
                    <p>Sudah punya akun? <a href="/"  style="text-decoration: none; color:red">Masuk</a></p>
                  </v-row>
                </v-card-text>
              </v-form>
            </v-stepper-content>

          </v-stepper-items>
        </v-stepper>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'RegisterForm',
  data () {
    return {
      name:'',
      email:'',
      password: '',
      phone:'',
      step1: false,
      step2: false,
      e1: 1,
      show1: false,
      confirmPassword:'',
      confirmPasswordRules: [v => !!v || "Password need to be confirmed"],
      rules: {
        required: value => !!value || 'Required.',
        min: v => v.length >= 8 || 'Min 8 characters',
        emailMatch: () => (`The email and password you entered don't match`),
      },
    }
  },
  methods:{
    async submit() {
      console.log(this.name)
      console.log(this.phone)
      console.log(this.email)
      console.log(this.password)
      try{
        await fetch(
          'https://techtest.folkatech.com/api/register',
          {
            method:'POST',
            headers: {
              'Accept': '*/*',
              'User-Agent': 'PostmanRuntime/7.29.2',
              'Accept-Encoding': 'gzip, deflate, br',
              'Connection': 'keep-alive',
              'Content-Type': 'application/json',
              'Accept': 'application/json',
            },
            body: {
              email: this.email,
              name: this.name,
              password: this.password,
              phone: this.phone,
            }
          }
        ).then(res => res.json())
      }catch(e){
        console.log(e)
      }
    }
  },
  computed:{
    passwordConfirmationRule() {
      return () =>
        this.password === this.confirmPassword || "Password must match";
    }
  }
}
</script>
<style>
.phonenumber input[type='number'] {
    -moz-appearance:textfield;
}
.phonenumber input::-webkit-outer-spin-button,
.phonenumber input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
</style>
