<template>
  <v-row align="center">
    <v-spacer></v-spacer>
    <v-col cols="2" class="align-self-start">
      <v-subheader>Urutkan</v-subheader>
    </v-col>
    <v-col cols="4">
      <v-select
        filled
        dense
      ></v-select>
    </v-col>
  </v-row>
</template>