<template>
  <v-row>
    <v-col cols="12">
      <Header />
    </v-col>
    <v-col cols="12">
      <Breadcrumbs />
    </v-col>
    <v-col cols="3">
      <Filters />
    </v-col>
    <v-col cols="9">
      <ProductList />
    </v-col>
  </v-row>
</template>

<script>
import Header from '../components/Header.vue'
import Breadcrumbs from '../components/Breadcrumbs.vue'
export default {
  name: 'products',
  components: [Header, Breadcrumbs]
}
</script>
